
SUBSYSTEM=="usb", ATTR{idVendor}=="05c6", ATTR{idProduct}=="676?", MODE="0666"
SUBSYSTEM=="usb", ENV{ID_MTP_DEVICE}=="1", ACTION=="add", RUN+="/usr/bin/systemctl start 'android-mtp@$env{ID_MODEL}.service'"
SUBSYSTEM=="usb", ENV{ID_MTP_DEVICE}=="1", ACTION=="remove", RUN+="/usr/bin/systemctl stop 'android-mtp@$env{ID_MODEL}.service'"
